<div id="allHeader">
    <ul id="allNav">
        <li><a href="/">首页</a></li>
        <li><a href="/article">博客文章</a></li>
        <li><a href="/album/index">相册</a></li>
        <li><a href="/say">留言</a></li>
    </ul>
    <% if(userInfo){ %>
    <ul id="allRal">
        <li><a href="/users/out">退出登录</a></li>
        <li>
            <a href="/users/changeInfo">
                <% if(userInfo.headPic){ %>
                <span><img src="<%= userInfo.headPic%>" alt=""></span>
                <% }else{ %>
                <span><img src="/images/head.jpg" alt=""></span>
                <% } %>
                <span>个人中心：<%= userInfo.name%></span>
            </a>
        </li>
    </ul>
    <% }else{ %>
    <ul id="allRal">
        <li><a href="/users/login">登陆/注册</a></li>
    </ul>
    <% } %>
</div>
