<!DOCTYPE html>
<html>
<head>
    <title></title>
    <% include headerCss.ejs%>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/login.js"></script>
    <style>
        body{
            background: url("/images/bg.gif");
            background-size: cover;
        }
    </style>
</head>
<body>
<% include header.ejs %>
<div id="title">欢迎来到赖赖的博客!</div>
<div id="login">
    <h1>欢迎登陆！</h1>
    <form action="" method="post">
        <p><input type="text" name="user" placeholder="请输入账号"></p>
        <div class="wrong"></div>
        <p><input type="password" name="password" placeholder="请输入密码"></p>
        <p><input type="button" value="登陆"></p>
    </form>
    <span>没有账号？请先注册！</span>
</div>
<div id="register">
    <h1>请注册！</h1>
    <form action="" method="post">
        <p><input type="text" name="user" placeholder="请输入账号"></p>
        <div class="wrong"></div>
        <p><input type="password" name="password" placeholder="请输入密码"></p>
        <p><input type="button" value="注册"></p>
    </form>
    <span>已有账号？请登陆！</span>
</div>
</body>
</html>
