body{
    background:rgb(236,236,236);
}
#articleWarp{
    width: 1000px;
    margin: 0 auto;
}
#articleLeft{
    width: 700px;
    float: left;
}
#articleLeft>.con{
    width: 100%;
}
#articleLeft>.con>li a:first-child{
    color: darkslategrey;
    padding-left: 10px;
}
#articleLeft>.con>li>div p{
    color: darkgray;
}
#articleLeft>.con li{
    width: 100%;
    height: 200px;
    margin: 20px 0;
    border-bottom:3px solid lightcoral ;
    background: white;
    border-radius: 15px;

}
#articleLeft>.con li>a:first-child{
    display: block;
    width:100%;
    height:25%;
    font-size: 40px;
}
#articleLeft>.con li>a>img{
    width:38%;
    height: 70%;
    border-radius: 10px;
    padding-left: 10px;
}
#articleLeft>.con li>div{
    width:58%;
    height: 75%;
    float: right;
}
#articleLeft>.con li>div p:first-child{
    width:100%;
    height: 80%;
    padding: 10px;
    box-sizing: border-box;
}
#articleLeft>.con li>div p:last-child{
    width:100%;
    height: 15%;
    text-align: right;
}

#articleLeft>.btn{
    width: 500px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}
#articleLeft>.btn li{
    display: inline-block;
    width: 30px;
    height: 100%;
    background:white;
    margin-right:2px;
    line-height: 30px;
    cursor:pointer;
}

#articleLeft>.btn>li:nth-of-type(3){
    background: rgb(134,150,165);
}
#articleLeft>.btn li:first-child,#articleLeft>.btn li:last-child{
    width: 50px;
}
#articleLeft>.btn li:nth-of-type(2),#articleLeft>.btn li:nth-last-child(2){
    width: 50px;
}

