<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../headerCss.ejs%>
    <link rel='stylesheet' href='/stylesheets/album/photo.css' />
</head>
<body>
<% include ../header.ejs %>
<div id="box">
    <div id="header">
        <a href="http://localhost:3000/album/index">返回相册页</a>
    </div>
    <div id="center">
        <%fileArr.forEach((i)=>{%>
        <img src="/photo/<%= dirName%>/<%= i%>" >
        <%})%>
    </div>
</div>
</body>
</html>
