<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<div id="box">
    <form action="/release" method="post" enctype="multipart/form-data" >
       标题 <input type="text" name='title'>
       大概 <input type="text" name='about'>
       上传html <input type="file" name="articleFile">
       上传封面图片 <input type="file" name="coverPic">
        <input type="submit" value="发布博文">
    </form>
</div>
</body>
</html>
